.env
.env.local
.env.*.local

node_modules/

dist/
build/
.cache/
.next/
out/

package-lock.json
yarn.lock
pnpm-lock.yaml

.DS_Store
*.log
*.swp
*.swo
.vscode/
.idea/
*.tgz

# 🔧 Misc
coverage/
*.local
server/node_modules/
client/node_modules/
